NEXT_PUBLIC_WALRUS_AGGREGATOR=https://aggregator.walrus-testnet.walrus.space
NEXT_PUBLIC_WALRUS_PUBLISHERS=https://publisher.walrus-testnet.walrus.space,https://publisher.testnet.walrus.atalma.io,https://publisher.walrus-01.tududes.com,https://publisher.walrus.banansen.dev,https://testnet-publisher.walrus.graphyte.dev,https://walrus-pub.testnet.obelisk.sh